/* ====== GLOBAL STYLES ======*/

html {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  color: #333;
  transition: color .5s;;
}

a:hover {
  color: #edbe56;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}


/* ====== TEXT STYLES ======*/

h1,
h2,
h3 {
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 35px;
}

h3 {
  font-size: 1.25em;
}
 
p {
  font-size: 1em;
}

/* ====== NAVIGATION STYLES ======*/

.main-nav li {
  background-color: #FFF;
  border-radius: 2.5px;
  margin: 0 0 15px 0;
  transition: color .5s;
}

.main-nav li a {
  padding: 10px 0 10px 0;
  font-weight: 800;
  display: block;
  transition: color .2s, background-color .5s;
}

.main-nav a:hover {
  color: #FFF;
  background-color: #edbe56;
}


/* ====== HEADER STYLES ======*/

.main-banner {
  padding: 30px 0 30px 0;
}

.main-banner img {
  border-radius: 2.5px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.125);
}

.logo a:hover {
  color: #333;
}



/* ====== PORTFOLIO STYLES ======*/

#portfolio {
  background-color: #FFF;
  padding: 30px 0 30px 0;
}

#portfolio li {
  margin-bottom: 40px;
}

/* ====== PORTFOLIO STYLES ======*/

#skills img {
  max-width: 100px;
}

#skills {
  background-color: #edbe56;
  padding: 30px 0 30px 0
}

#skills li {
  margin-bottom: 40px;
}

#skills p {
  margin: 30px 0 40px 0;
}

/* ====== CONTACT STYLES ======*/

#contact {
  margin: 30px 0 30px 0;
}

#contact p {
  margin: 25px auto;
}

.contact-details li {
  margin-bottom: 10px;
}

#contact span {
  font-weight: 800;
}

hr {
  width: 90%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(211, 211, 211, 0.25), rgba(211, 211, 211, 0.75), rgba(211, 211, 211, 0.25)); 
  margin: 50px auto 30px auto;
  
}


/* ====== FOOTER STYLES ======*/

.footer-nav a {
  font-weight:800;
  display: block;
}

.footer-nav a:nth-child(1) {
  float: left;
}

.footer-nav a:nth-child(2) {
  float: right;
}

.footer-nav ul {
  display: none;
}



/* ====== MEDIA QUERIES ======*/

@media screen and (min-width: 768px) {
  
  /* NAVIGATION */
  
  .main-nav li {
    display: inline-block;
    background-color: #FAFAFA;
  }
  
  .main-nav li a {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  /* HEADER */
  
  .main-banner img {
    float: right;
    width: 30%;
    margin: 0 2.5%;
  }
  
  .main-banner p {
    text-align: left;
    margin: 0 2.5%;
    width:55%;
  }
  
  
  /* PORTFOLIO */
  
  #portfolio li {
    float: left;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-height: 395px;
  }
  
  /* SKILLS */
  
  #skills li {
    float: left;
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  /* CONTACT */
  
  #contact {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  #contact p {
    max-width: 60%;
  }
  
  /* FOOTER */
  
  .footer-nav ul {
    display: block;
    text-align: right;
  }
  
  .footer-nav li {
    display: inline-block;
    margin-left: 15px
  }
  
  .footer-nav a:nth-child(2) {
    display: none;
  }

}



/* ====== MEDIA QUERIES ======*/

@media screen and (min-width: 1024px) {

  /* NAVIGATION */

  .logo {
    float: left;
    margin: 0 0 0 2.5%;
  }
  
  .main-nav ul {
    float: right;
    vertical-align: middle;
    margin-right: 2.5%;
  }
  
  header {
    padding-top: 30px;
  }

  
  /* PORTFOLIO */
  
  #portfolio {
    background-color: #FAFAFA;
    padding-bottom: 0;
  }
  
  #portfolio .container {
    background-color: #FFF;
    padding-top: 30px;
  }
  
  #portfolio li {
    width: 28%;
  }
  
   /* PORTFOLIO */
  
  #skills {
    background-color: #FAFAFA;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #skills .container {
    background-color: #edbe56;
    padding: 30px 0 30px 0;
  }
  
  #skills p {
    max-width: 70%;
    margin: 20px auto 50px auto;
  }

}
















